<h3>You had a few errors:</h3>

<% if @brand.errors %>
  <ul>
    <% @brand.errors().full_messages().each() do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h5><a href="/" >Try again, please</a></h5>
